{% extends 'base.html' %}
{% load static %}
<!-- 画像の表示にこっちでも再度必要らしい？-->
{% block content %}
<p>一時期話題となった老後2,000万円問題。</p>
<p>しかしそれぞれの世帯により資産額や収入・支出額が違うので</p>
<p>老後に必要となる金額は一概に断定できないのではないかと違和感を覚えた方も多いと思います。</p>
<p>その通りです。畢竟、今のうちに将来もらえる年金の額を高めに高めておけば、</p>
<p>口座にいくらあればなんて小難しい心配などなにも必要ないのですから。</p>
<stong>年金の受給額の限界に挑む当サイトへようこそ。</stong>
<div style="padding-top:30px;"></div> <!-- 空白-->
<img src="{% static 'images/okane.jpg' %}">
<div style="padding-top:30px;"></div><!-- 空白-->
<div
    style="padding: 20px; background: #fff; -webkit-box-shadow: 0 0 50px #f98289 inset, 5px 5px 0 #cecece; -moz-box-shadow: 0 0 50px #f98289 inset, 5px 5px 0 #cecece; box-shadow: 0 0 50px #f98289 inset, 5px 5px 0 #cecece; font-size: 100%;">
    公的年金で最高限度額を受け取るための最低限の前提</div>
<div style="padding-top:30px;"></div><!-- 空白-->
<p>一口に年金といっても、国に保険料を支払い後に国から保険給付がされる仕組みである「公的年金」と</p>
<p>民間の保険会社など政府以外の組織が運営している年金制度である「私的年金」の２種類が存在します。</p>
<p>このサイトでは主に前者の「公的年金」に注目し年金の受給額の限界額を考察していきたいと思います。</p>
<p>「公的年金」にも様々な種類があるため受給者の方によってどのような年金の受給の組み合わせになるかは千差万別ですが、</p>
<p>まずここでは65歳になった際に受給条件を満たしていれば受給が可能であり、故に多くの方が受給することになる</p>
<p>老齢基礎年金と老齢厚生年金の受給限度額についてみていきましょう。(金額にそれなりに影響のある再評価率という概念等も存在するのですが今回は説明の都合上省きます・・・！)</p>
<div style="padding-top:30px;"></div><!-- 空白-->
<p>まずは老齢基礎年金。こちらは20歳から60歳未満までの間に未納期間等無しで定額である保険料を納めていれば、</p>
<p>令和4年度においては最高で<u>年額777,800円（月額64,816円）</u>受給することが可能となっています。</p>
<p>このように老齢基礎年金の最高受給額はシンプルなのですが、少々複雑なのが賃金の額によって保険料が定まり（最高限度額あり）、</p>
<p>その保険料の金額に比例し将来もらえる年金額が増える仕組みとなっている老齢厚生年金です。後でも紹介する繰り下げ受給を選択するケースで見ていきましょう。</p>
<p>こちらは、厚生年金保険適用事業所で働き、厚生年金保険に加入できる条件が整った時点で70歳に到達するまで加入することになります。</p>
<p>ただしこの時注意をしなければならないのは、「在職老齢年金」の制度によって減らされた老齢厚生年金は繰下げの対象とならないということです。</p>
<p>「在職老齢年金」というのは年金が受給できる年齢になっても厚生年金に加入して働いた場合、賃金等の額によって老齢厚生年金の一部あるいは全部がカットとなる仕組みです。</p>

<p>65歳以降の場合の在職老齢年金の計算は次のようになります</p>
<div style="padding-top:30px;"></div><!-- 空白-->
<ul>

    <li type="disc">（標準報酬月額）+（その月以前12カ月以内に支払われた賞与）÷12 を Aとします。</li>
    <li type="disc">老齢厚生年金額（報酬比例部分）を Bとします。</li>
    <li type="disc">（A+B－47万円）×1/2 が支給停止額です。 </li>
</ul>
<div style="padding-top:30px;"></div><!-- 空白-->
<p>後に想定する金額の年金と賃金等ではめでたく全額不支給となるので、65歳で会社は退職し、この65歳まで加入したとしましょう。</p>

<p>また当然早くから加入した方が将来もらえる額は増えるのですが、労働基準法という別のルールがあるのでそれに基づき、中学校卒業後の15歳から65歳到達まで</p>
<p>保険料の最高額に到達するような額の月給と賞与をもらい続け、厚生年金に加入していたという前提で考えていきましょう。</p>
<p>こちらも令和4年の基準に当てはめると以下の基準を満たすことが必要となります。</p>
<div style="padding-top:30px;"></div><!-- 空白-->
<ul>
    <li type="disc">厚生年金に加入している間、常に標準報酬月額の上限である63万5,000円以上の給与を受け取る</li>
    <li type="disc">厚生年金に加入している間、賞与を常に年3回、標準賞与額の上限である150万円以上受け取る</li>
    <li type="disc">中学を卒業後すぐに就職し、65歳までの50年間（600ヶ月）上記の条件で継続して働く</li>
</ul>
<div style="padding-top:30px;"></div><!-- 空白-->
<p>15歳未満にもかかわらずもうすでに当サイトをご覧になっているようなマネーリテラシーに優れたちびっ子はぜひ挑戦してみてください。</p>
<p>そして肝心の老齢厚生年金の計算式がこちら。</p>
<u>
    <h2>老齢厚生年金の金額＝平均標準報酬額✕5.481／1,000✕被保険者として加入していた期間の月数</h2>
</u>
<p>この式に基づき計算しますと、<u>年額3,321,000円（月額276,750円）</u>が最高受給額となります。</p>
<p>この2つの年金を足し合わせると<u>年額4,098,800円</u>となりました！ しかしこの金額はあくまで65歳から受け取った場合の金額にすぎません。</p>
<p>スーパー生涯現役社会を目指す美しき我が国は2022年4月に年金改正法を施行したため、</p>
<p>75歳までの10年間の繰下げで84％（0.7％×120カ月）の年金の増額をすることが可能となりました。</p>
<p>つまり75歳から年金を受給することを選択すれば、84%増額で、<u>7,541,792円(月額628,482円)</u>受給することが可能となります！やりましたね！</p>
<div style="padding-top:30px;"></div> <!-- 空白-->
<img src="{% static 'images/okane2.jpg' %}">
<div style="padding-top:30px;"></div><!-- 空白-->
<p style="background-color:#ffcc99;">なお真面目に自分の将来の年金の額を計算したい方はこちらへどうぞ笑</p>
<a href="https://www.nenkin.go.jp/n_net/introduction/estimatedamount.html">日本年金機構</a>
<div style="padding-top:30px;"></div><!-- 空白-->
<div
    style=" color: white; background: #f98289; padding: 20px; border: 2px dashed rgba(255 , 255 , 255 , 0.5);-moz-border-radius: 6px; -moz-box-shadow: 0 0 0 5px #f98289 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5); -webkit-border-radius: 6px; -webkit-box-shadow: 0 0 0 5px #f98289 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5); border-radius: 6px; box-shadow: 0 0 0 5px #f98289 , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5); font-size: 100%; ">
    年金最高額受給額メーカー</div>
<div style="padding-top:30px;"></div><!-- 空白-->
<p>老齢年金の上限は基本的には上記の通りですが、他にも年金額を増やせるような要素を思いつく限り並べてみました。なお全て令和４年度における基準での計算となっています。</p>

{% for product in products %}
<ul>
    <li> <a href="{% url 'product_details' product.id %}">{{product.title}}</a></li>


</ul>
{% endfor %}


{% if products.has_previous %}
<a href="?page={{ products.previous_page_number }}">&lt; 前のページ</a>
{% else %}
<span>&lt; 前のページ</span>
{% endif %}

<p>現在{{ products.number }}ページ目</p>

{% if products.has_next %}
<a href="?page={{ products.next_page_number }}">次のページ &gt;</a>
{% else %}
<span>次のページ &gt;</span>
{% endif %}
<!-- ページ移動-->>
<p><a href="{% url 'cart_lists' %}">カートに移動する</a></p>

{% endblock content%}